.audio__wrap{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  margin: 10px auto;

  .audio__player{
    margin-left: 40px;
    width: calc(100% - 100px);
  }

  .audio__img{
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
  }
}