.quiz__header{
    height: 70px;
    width: 100%;
    background-color: #20272F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    color: whitesmoke;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    .header__logo{
      font-size: 26px;
      font-weight: bold;
    }

    h1{
			font-family: 'Londrina Solid', cursive;
			color: rgb(185, 94, 94);
			
			span{
				color: rgb(112, 189, 135);
			}
    }

    .header__score{
      font-family: 'Londrina Solid', cursive;
      font-size: 24px;
    }
}