.birds{
  list-style-type: none;
  background-color: rgba(98, 98, 98, 0.52);
  border-radius: 8px;
  padding: 20px 40px;
  margin-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
}

@media screen and (max-width: 990px){
  .birds{
    width: 50%;
  }
}

@media screen and (max-width: 500px){
  .birds{
    width: 90%;
  }
}