.bird__item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color .25s ease;
  padding: 8px;
  width: 90%;
  border-radius: 5px;

  &:hover{
    background-color: rgb(199, 199, 199);
  }

  .bird__check{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

